{% extends "main/base.html" %}
{% load static %}

{% block title %}Thread{% endblock %}

{% block content %}
    <div class="section">
        <div class="list-child" style="margin-top:20px">
            <h1>Terms and Conditions</h1>
            <pre>
    This Agreement ("Agreement," "Terms") governing the provision and use of the Tech Forum
social network service ("Agreement," "Terms") is based on the Principles of SNS and
governs our relationship with users (members) and others interacting with Tech Forum and
its brands, products, and services, which we refer to as "Tech Forum Services" or "Services."
By using or accessing Tech Forum Services, you agree to this Agreement.

I. Purpose, Content – Terms of Use

1. Purpose and content of the service
- Tech Forum Social Network (Tech Forum) is where members share and exchange information
about science and technology trends, tools, scientific equipment, and technology.
- Tech Forum is a place where members introduce, learn, share, and exchange information
about new science and technology products on the Vietnamese and global market.

2. Terms of use
- To access and use Tech Forum Services, members must agree to and comply with the terms
set forth in this Agreement and the rules and regulations linked to, integrated, including.
- When accessing, using Tech Forum Services through any means (computer, phone, TV,
Internet-connected device), or using the Tech Forum application, members must also
comply with this Code of Conduct.
- To meet members' usage needs, Tech Forum continuously improves and develops, so the
terms provided in the Agreement for providing and using Tech Forum Services may be
updated, modified at any time without prior notice to members. Tech Forum will publicly
announce any changes and additions on the Website, forums about those changes.

II. Account registration and service usage

1. Members are responsible for their behavioral capacity when registering an account and
using Tech Forum. In case Internet users under 14 years of age want to register as
members, the legal guardian must agree and decide to register their personal information
to show consent and responsibility before the law for that registration.
2. After logging into the system, members can change their username. Usernames must
comply with the naming rules, must not violate any of the prohibitions of this Agreement.
3. Members must register, log in to use the Service, share information on Tech Forum. Each
member is allowed to register only 1 account on Tech Forum.
4. On the Tech Forum system's Website, there are links to other websites, or icons of other
websites, these websites are not under the control or ownership of Tech Forum. Accessing
to these links can be risky and dangerous. Members bear full risk when using these linked
websites. Tech Forum will not be responsible for the content of any website or destination
outside the Tech Forum website system.

III. Prohibited content exchange and sharing on the social network

When using Tech Forum's system's services, members are strictly prohibited from
performing some behaviors, including but not limited to the following:
1. Abuse of providing, exchanging, using information on Tech Forum for the purpose of:
- Opposing the Socialist Republic of Vietnam; causing harm to national security, social
order, and safety; disrupting the national solidarity; propagating invasive wars and
terrorism; inciting hatred, conflict between ethnic groups, races, religions.
- Propagating, inciting violence, sexual abuse, crime, social evils, superstitions, undermining
the national and cultural traditions of the nation.
- Absolutely not discussing, posting content on political issues.
2. Members are prohibited from using Tech Forum to reveal state secrets, military secrets,
security, economic, diplomatic, and other secrets stipulated by law in any form on the
Tech Forum website.
3. Advertising, promoting, buying and selling goods and services that are prohibited or
disseminating forbidden press, literature, art, banned publications on Tech Forum.
4. When communicating with other users, members harass, swear, ridicule, disturb or
be uncivilized.
5. Members have the right to use their own image. When using another person's image,
members must have that person's consent. Prohibiting the use of someone else's image
that violates their dignity, honor, and reputation.
6. Exploiting Tech Forum's social network to collect information about other members, publish
information, documents about the private life of other members.
7. Absolutely not discussing, posting content on political issues.
8. Banned from posting content that is false, offensive, derogatory, or derogatory to the
dignity, reputation, or legal interests of organizations and individuals.
9. Absolutely not discussing, posting content on political issues.
10. Abuse of the Tech Forum system to organize forms of gambling, gaming, or agreements
related to money, cash, or other objects. Sharing fshare, megashare, tenlua, itunes, mediafire
accounts.
11. Obstruction against the law, causing disturbances, destroying the server system; illegally
obstructing access to information and the legitimate use of services on Tech Forum.
12. Unlawful use of passwords, lock codes of organizations, individuals, personal
information, and Internet resources.
13. Directly or indirectly, using any means (such as computer programs, Internet-connected
devices, Internet-based web services, or other means) to remove, alter, bypass, evade, interfere
with, or damage any copyright, trademark, or other proprietary rights indicators on the Content
(such as logos) or any control measures, data protection devices, and other means to restrict
access from different geographical areas.
14. Directly or indirectly through any means (such as computer programs, web-based
services, web-based services, or other means) to copy, download, capture, reproduce, produce,
store, distribute, upload, publish, modify, translate, broadcast, display, sell, transmit or
retransmit the content.
15. Create, reproduce, distribute, or advertise any detail of any content without the consent
of Tech Forum. Members are not allowed to build business models using content, whether
for profit or not. The content referred to in Tech Forum includes, but is not limited to any
text, graphics, images, layouts, interfaces, icons, images, audio, and video material, and
static images. Furthermore, we prohibit the creation of derivative works or materials
originating from or based on any content, including video creation, video, wallpaper, greeting
cards, and merchandise.
16. Impersonate organizations, individuals and disseminate false information, false information
on Tech Forum that violates the legitimate rights and interests of organizations, individuals.
17. Create links to illegal domains of organizations, individuals. Create, install, distribute
harmful software, computer viruses; unlawfully interfere, take control of the information
system, create tools for attacks on the Internet.
18. Absolutely not use any programs, tools, or any other means to interfere with the Tech Forum
system.
19. Absolutely no interference with illegal logins or attempted illegal logins or damage to the
Tech Forum server system.
</pre>
        </div>
    </div>
    
    
{% endblock %}